@model IEnumerable<EmployeeManagementSystem.Models.Department>

@{
    ViewData["Title"] = "Display";
}

<h1 align="center">Department Details</h1>

<p align="center">
    <a asp-action="Create">Create New</a>
</p>
<table class="table" border=2px margin=25px 50px 75px 100px align="center">
    <thead class="thead-dark" align="center">
        <tr>
            <th align ="center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr align="center">
                <td align="center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td align="center">
                <a asp-action="Update" asp-route-id="@item.Departmentid">Edit</a> |
                <a asp-action="GetByID" asp-route-id="@item.Departmentid">Details</a> |
@*                <a asp-action="Delete" asp-route-id="@item.Departmentid">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
