@model EmployeeManagementSystem.Models.Department

@{
    ViewData["Title"] = "GetByID";
}

<h1 align="center">Department Details</h1>

<div>
    <h4 align="center">Department</h4>
    <hr />
    <dl class="row" align="center">
        <dt class="col-sm-2" align="center">
            ID
            @Html.DisplayNameFor(model => model.Departmentid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departmentid)
        </dd>
    </dl>
    <dl class="row" align="center">
        <dt class="col-sm-2" align="center">
            Department
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.Departmentid">Edit</a> |
    <a asp-action="Display">Back to List</a>
</div>

